<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Post Details</title>
</head>
<nav th:replace= "partials/navbar :: navbar" />
<body>

<!----------------REFACTORED WITH A USER------------------>
<h1 th:text="${post.title}"></h1>
<h3 th:text="${post.body}"></h3>
<p th:text="${post.author.email}"></p>
<a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit Post</a>
<form th:action="@{'/posts/${post.id}/delete'}" th:method="POST">
    <button>Delete</button>
</form>


<!----------------REFACTORED WITH A USER------------------>


<!----------------INSTRUCTOR SOLUTION BELOW------------------>

<!--<h1 th:text="${post.title}"></h1>-->
<!--<h3 th:text="${post.body}"></h3>-->
<!--<a th:href="@{'/posts/${post.id}/edit'}">Edit Post</a>-->
<!--<form th:action="@{'posts/${post.id}/delete'}" th:method="POST">-->
<!--    <button>Delete</button>-->
<!--</form>-->

<!----------------INSTRUCTOR SOLUTION ABOVE--------------------->

<!--<h3><span th:text="${post.title}"></span></h3>-->
<!--<p><span th:text="${post.body}"></span></p>-->

<!--<form action="/post/save"  method="POST">-->
<!--    <input type="hidden" th:value= "${id}" name="id" id="editPostId">-->
<!--    <input type="text" th:value="${post.title}" name="postTitle" id="editPostTitle">-->
<!--    <input type="text" th:value="${post.body}" name="postBody" id="editPostBody">-->
<!--    <button>Edit Post</button>-->
<!--</form>-->
<!--<form action="/post/delete" method="post">-->
<!--    <input type="hidden" th:value= "${id}" name="deleteId" id="deletePostId">-->
<!--    <button>Delete</button>-->
<!--</form>-->




</body>
<footer th:replace= "partials/footer :: footer" />
</html>